 {%with messages = get_flashed_messages()%}
  {%if messages %}
    <script type="text/javascript">
      alert("{{messages[-1]}}");
    </script>
    {%endif%}
  {%endwith%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>이건 못 먹지</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            showRecipes();
        });

        function showRecipesHelp(recipes) {
            for (let i = 0; i < recipes.length; i++) {
                let title = recipes[i]['title']
                let hyperlink = recipes[i]['hyperlink']
                let image = recipes[i]['image']
                let description = recipes[i]['description']
                let ingredient = recipes[i]['ingredient']
                let category = recipes[i]['category']

                let temp_html = ` <div class="card">
                                                <img class="card-img-top"
                                                     src=${image}
                                                     alt="Card image cap">
                                                <div class="card-body">
                                                    <a href=${hyperlink} class="card-title"> 레시피 이름: ${title}</a>
                                                    <p class="card-text"> 레시피 재료 : ${ingredient} </p>
                                                    <p class="card-text"> 레시피 분류 : ${category} </p>
                                                    <p class="card-text comment"> 레시피 설명: ${description} </p>
                                                    <button type="button" class="btn btn-primary" id="login-btn" <button type="button" class="btn btn-primary" id="login-btn" onclick="window.location.href='/wishlistplus?title=${title}'">찜하기</button>
                                                </div>
                                            </div>`

                let filtered_temp_html = ` <div class="card">
                                                <img class="card-img-top"
                                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsyjy0oSwyUXMEvpdNHo-hQ3cyLcDpnKYe6Q&usqp=CAU"
                                                     alt="Card image cap">
                                                <div class="card-body">
                                                    <a href=${hyperlink} class="card-title"> 레시피 이름: ${title}</a>
                                                    <p class="card-text"> 레시피 재료 : ${ingredient} </p>
                                                    <p class="card-text"> 레시피 분류 : ${category} </p>
                                                    <p class="card-text comment"> 레시피 설명: ${description} </p>
                                                    <button type="button" class="btn btn-primary" id="login-btn">찜하기</button>
                                                </div>
                                            </div>`
                if('filter' in recipes[i]){
                     $('#cards-box').append(filtered_temp_html)
                    console.log(recipes[i]['filter'])
                } else
                    $('#cards-box').append(temp_html)
            }
        }

        function showRecipes() {
            $.ajax({
                type: "GET",
                url: "/recipes",
                data: {},
                success: function (response) {
                    alert("hi")
                    let recipes = response['recipes']
                    showRecipesHelp(recipes)
                }
            })
        }

        function searchRecipes() {
            let keyword = $('#search').val()
            let apiUrl = "/search/" + keyword
            $('#cards-box').empty()

            $.ajax({
                type: "GET",
                url: apiUrl,
                data: {keyword_give: keyword},
                success: function (response) {
                    let recipes = response['recipes']
                    showRecipesHelp(recipes)
                }
            })
        }

        function filterRecipes(category) {

            $.ajax({
                type: "POST",
                url: "/filter/" + category,
                data: {category_give: category},
                success: function (response) {
                    let recipes = response['recipes']
                    showRecipesHelp(recipes)
                }
            })
        }


    </script>

    <style>

        .main-content {
            width: 1400px;
            align-items: center;
            margin: auto;
            padding: 10px 10px 10px 10px;
        }

        .main-logo {
            width: 1400px;
            height: 400px;
            align-items: center;
            padding-bottom: 80px;
        }

        .search-container {
            margin-bottom: 50px;
            text-align: center;
        }

        .category-button {
            text-align: center;
            margin-bottom: 100px;
        }

        .category-button .btn-info {
            background-color: orange;
            margin-right: 20px;
        }

        #lets-click {
            display: block;
            text-align: center;
            font-size: x-large;
            margin-bottom: 20px;
        }
        .card {
            height: 800px;
        }

        .card-columns {
            width: 1400px;
        }

        .card-img-top {
            object-fit: cover;
        }


    </style>
</head>
<body>
<!-- header file import -->
<header>
    {% include 'header.html' %}
</header>

</div>

<div class="main-content">

    <div>
        <img class="main-logo" src="/static/logo-revised.png">
    </div>

    <div class="search-container">
        <input class="search_input" id="search" type="text" placeholder="Search">
        <button type="button" onclick="searchRecipes()" class="btn btn-info">재료 검색</button>
    </div>

    <label id="lets-click">제외 원하는 재료를 클릭해 보세요!</label>

    <div class="category-button">
        <button type="button" onclick="filterRecipes('category1')" class="btn btn-info">육류</button>
        <button type="button" onclick="filterRecipes('category2')" class="btn btn-info">해산물</button>
        <button type="button" onclick="filterRecipes('category5')" class="btn btn-info">채소</button>
        <button type="button" onclick="filterRecipes('category4')" class="btn btn-info">탄수화물</button>
        <button type="button" onclick="filterRecipes('category3')" class="btn btn-info">유제품</button>
    </div>


    <div class="card-columns" id="cards-box">
        <div class="card" >
            <img class="card-img-top"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsyjy0oSwyUXMEvpdNHo-hQ3cyLcDpnKYe6Q&usqp=CAU"
                 alt="Card image cap">
            <div class="card-body">
                <a href="https://www.10000recipe.com/recipe/6967794" class="card-title"> 음식 이름</a>
                <p class="card-text"> 음식 재료 </p>
                <p class="card-text"> 음식 분류 </p>
                <p class="card-text comment"> 음식 설명 </p>
                <button type="button" class="btn btn-primary" id="login-btn">찜하기</button>
            </div>
        </div>
    </div>

</div>
</body>
</html>